:root{
    --Cor-fundo:  rgba(72, 72, 72, 0.38);
}
body{
    margin: 0;
    margin-top: 10px;
    background: var(--Cor-fundo);
}

/*Inicio Header*/
header{
    padding-top: 30px ;
    padding-bottom: 30px ;
    border: 1px solid red;
    width: 70%;
    float: right;
}

ul{
    margin: 0;
    padding: 30;
    display: flex; 
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
    margin: 0;
    padding: 10px 30px;
    flex-direction: row;
    color: aliceblue;
}

li:hover{
    background: rgba(189, 0, 0, 0.59);
    color: aliceblue;
}

a:hover{
    color: aliceblue;
}

a{
    color: black;
}
/*Fim do Header*/

.lateral{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    
}

/*Inicio Primeiro Conteudo*/
#PrimeiroConteudo{
    width: 50%;
    position: absolute;
    top: 200px;
    left: 40%;

    
}

.Saudacao{
    font-size: 50px;
    color: aliceblue;
}
/*Fim Primeiro Conteudo*/

/*Inicio Segundo Conteudo*/
#SegundoConteudo{
    padding: 0 130px;
    margin-bottom: 40px;
}

.infos{
    
}

#txtSobre{
    margin-left: 10%;
}

.Conhecimento{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;

}


/*Fim do Segundo conteudo*/

/*Inicio do SegundoConteudoParte2*/

 .txtConhecimento{
    margin-left: 10%;
 }

 .atributos{
    color: black;
   

}

.atributos:hover{
    background:  rgba(189, 0, 0, 0.59);
    color: aliceblue;
}

.scroll{
    margin: 50px;
    margin-inline: auto;
    max-width: 80%;
    overflow: hidden;
    mask: linear-gradient(to right, transparent, red 15%, red 85%, transparent);
}

.mySkills{
    display: flex;
    gap: 10px;
    width: max-content;
     animation: scrollInfinito 10s linear infinite;
}

.imgSkills{
    width: 100px;
    height: 100px;
}
/*Fim do SegundoConteudoParte2 */


@keyframes scrollInfinito {
    to {
      translate: calc(-50% - 5px);
    }
  }
  


/*Inicio Terceiro conteudo*/
#TerceiroConteudo{
    width: 100%;
}



#Cards{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TxtPortifolio{
    margin-left: 10% ;
}

.card-text, .card-title{
    color: black;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: rgba(255, 255, 255, 0.38);
    margin: 1%;
    width: 324px;
}

.caixa1{
   height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.avatar{
    width: 200px;
}

.rodape{
}

.txtContato{
    margin-left: 10%;
}

.dadosRodape{
    text-align: center;
}